<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beparent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".EditAnakActivity"
            android:parentActivityName=".InformasiAnakActivity"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name=".InformasiAnakActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".EditProfilActivity"
            android:parentActivityName=".ProfilActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ProfilActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".OptionMenuActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".LupaSandiActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".AktivitasActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".LihatKontenActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".RawatActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/generalnotitle" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/generalnotitle" />
    </application>

</manifest>